* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; 
    text-align: center; 
    color: azure;
    font-family: poppins;
}

ul {
    padding: 10px;
    list-style-position: inside;
}

li {
    margin: 10px;
}

nav a {
    text-decoration: none;
}

nav {
    background-color: rgb(33, 5, 0);
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
}

nav a:hover {
    color:rgb(223, 152, 90);
}

#github, #linkedin {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

#github:hover,
#linkedin:hover {
    color:rgb(223, 152, 90);
}

footer {
    margin-top: 150px;
}

.project-card {
    border: 6px solid white;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(33, 5, 0);
    width: 200px;
    margin-bottom: 100px;
}

.project-card:hover {
    color:rgb(223, 152, 90)
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tech-stack {
    font-size: 12px;
}

.read-more {
    text-decoration: none;
    color: white;
}

.read-more:hover{
    color: rgb(223, 152, 90)
}

.contact-me {
    text-decoration: none;
    color: white;
}

.contact-me:hover {
    color: rgb(223, 152, 90);
}