body {
    background-color: black; 
    text-align: center; 
    color: azure;
    font-family: poppins;
}

ul {
    padding: 10px;
    list-style-position: inside;
}

li {
    margin: 10px;
}

nav a {
    text-decoration: none;
}

nav {
    background-color: rgb(85, 87, 88);
    padding: 20px;
    text-align: right;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
}

nav a:hover {
    color: cyan;
}

#github, #linkedin {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

#github:hover,
#linkedin:hover {
    color:aqua;
}

footer {
    margin-top: 100px;
}

#portfolio {
    text-align: left;
}